bases:
- ./../tezos-public-node-base

imageTags:
  - name: tezos-public-node-with-probes
    newName: gcr.io/${project}/tezos-public-node-with-probes
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-snapshot-downloader
    newName: gcr.io/${project}/tezos-snapshot-downloader
    newTag: ${kubernetes_namespace}-latest

configMapGenerator:
- name: tezos-configmap
  literals:
  - NODE_HOST="localhost"
  - TEZOS_NETWORK=${tezos_network}"
  - KUBERNETES_NAME_PREFIX="${kubernetes_name_prefix}"
  - DATA_DIR=/run/tezos
  - SNAPSHOT_URL="${full_snapshot_url}"
  - HISTORY_MODE="${history_mode}"

patchesStrategicMerge:
- nodepool.yaml
- prefixedpvnode.yaml
